[Desktop Entry]
Encoding=UTF-8
Name=Link para ChromeDriver - WebDriver for Chrome
Type=Link
URL=https://chromedriver.chromium.org/home
Icon=text-html
